{% extends './base/index.html' %}

{% block content %}
<h1>{% block title %}Crear materia{% endblock %}</h1>
<form method="post">
    <div>
        <h4>Datos del profesor</h4>
        <label for="">Cédula del profesor: </label>
        <input type="text" name="" id=""><br><br>
        <label for="">Nombre del profesor: </label>
        <input type="text" name="" id=""><br><br>
        <label for="">Apellido del profesor: </label>
        <input type="text" name="" id="">
    </div>
    <div>
        <h4>Datos de la materia</h4>
        <label for=""></label>
        <input type="text" name="" id="">
        <label for=""></label>

    </div>
</form>

{% endblock %}