{% extends './base/index.html' %}

{% block content %}

<h1>{% block title %}¿Realmente quieres eliminar la materia{% endblock %}</h1>

<div>
    <h2>Datos del profesor</h2>
    <p style="text-align: left;">
        <strong>Cédula: </strong> {{ clase['teacher']['id'] }} <br>
        <strong>Nombre: </strong> {{ clase['teacher']['firstname'] }} {{ clase['teacher']['lastname'] }} <br>
    </p>
</div>
<div>
    <h2>Datos de la materia</h2>
    <p style="text-align: left;">
        <strong>Nombre: </strong> {{ clase['name'] }} <br>
        <strong>Objetivo: </strong> {{ clase['objetive'] }} <br>
        <strong>Duración: </strong> {{ clase['duration'] }} horas <br>
        <strong>Notas mínimas obligatorias: </strong> {{ clase['minimum_grades'] }}/100
    </p>
</div>
<div>
    <div>
        <a href="{{ url_for('buscar_clases') }}">
            <button type="button">Cancelar</button>
        </a>
        <button type="submit">Eliminar</button>
    </div>
</div>

{% endblock %}